<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>welcome to <%=welcome%>!!! machine id <%= terminalId %></p>
   
     <p>your account number is <%=cardNumber%></p>
     <p>the available balance now is <%=balance%></p>
    <p>Please take you cash the</p>
  
  <a href="/take_case_done">take cash</a></p>
 
  </body>
</html>